<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="./styles.css" rel="stylesheet"/>
</head>
<body>
  <div id="navbar-placeholder"></div>
  <div class="container py-5">
    <h1>Student Analytics Dashboard</h1>
    
    <div class="row my-4">
      <div class="col-md-6">
        <h2>Active Populations</h2>
        <div class="loader d-none"> 
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <ul class="list-group">
         
        </ul>
      </div>
      <div class="col-md-6 chart">
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="myPieChart"></canvas>
      </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <h2>Overall Attendance</h2>
        <ul class="list-group overall-attendance">
          <li class="list-group-item">Bsc - Computer science - F2021 (85%)</li>
          <li class="list-group-item">Msc - Computer science - F2021 (90%)</li>
          <li class="list-group-item">ME - Als - F2021 (95%)</li>
          <li class="list-group-item">Msc - AIMS - F2021 (95%)</li>
          <li class="list-group-item">ME - GITM - F2021 (80%)</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="chart-container" style="position: relative; height: 100%; width: 100%; display: flex;">
          <canvas id="myBarChart"></canvas>
      </div>
      </div>
    </div>
    
    <div class="footer">
      <p>website last generation: 10th January 2023</p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./script.js"></script>
</body>
</html>